body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111; /* Dark gray background */
    color: #ffffff; /* White text */
    font-family: Arial, sans-serif;
}


#canvas-container {
  background: #1a1a1a; /* Dark gray background */
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle inner shadow for depth */
}